<html>

<body>
  <p>Hello, <b>
      <%= name %>
    </b>!
  </p>
  <pre>To set new password please follow this link below
    <a href="<%= activationLink %>"><%= activationLink %></a>
  </pre>
</body>

</html>