<html>

<body>
  <p>Hello, <b>
      <%= name %>
    </b>!
  </p>
  <pre>To activate account please follow this link below
<a href="<%= activationLink %>"><%= activationLink %></a>
  </pre>
  </pre>
</body>

</html>